<form id="frm" class="form" [formGroup]="frm" novalidate>
    <h1 class="header">{{(!isNew ? 'Edit existing ' : 'Add a new ') + (!isTraining ? 'mission' : 'training')}}</h1>
    <div class="form">
        <section class="checkProgress">
            <mat-checkbox [checked]="isProgress" (change)="progressChange($event.checked)" [disabled]="!disableProgress" >En cours ?</mat-checkbox>
        </section>
        <mat-form-field appearance="fill" class="start">
            <mat-label>Start</mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="ctlStart">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
       <span *ngIf="!isProgress">
            <mat-form-field appearance="fill" class="finish">
                <mat-label>Finish</mat-label>
                <input matInput [matDatepicker]="picker2" [formControl]="ctlFinish">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
        </span>
        <mat-form-field class="title" >
            <input matInput placeholder="Title" [formControl]="ctlTitle" required >
            <mat-error class="field-error" *ngIf="ctlTitle.hasError('required')">Required</mat-error>
        </mat-form-field>
        <span *ngIf="!isNew">
            <mat-form-field>
                <input matInput placeholder="Enterprise" [formControl]="ctlEnterprise" readonly >
            </mat-form-field>
        </span>
        <span *ngIf="isNew">
            <mat-form-field class = "enterprise">
                <mat-label>Enterprise</mat-label>
                <input  type="text"
                        placeholder="Pick one"
                        aria-label="Number"
                        matInput 
                        [formControl]="ctlEnterprise"
                        [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let enterprise of listEnterprises" [value]="enterprise">
                        {{enterprise.name}}
                    </mat-option>
                </mat-autocomplete>
                <mat-error class="field-error" *ngIf="ctlEnterprise.hasError('required')">Required</mat-error>
                <mat-error class="field-error" *ngIf="ctlEnterprise.hasError('isInEnterprise')">Enterprise not recognized. Click one of the autocomplete options.</mat-error>
            </mat-form-field>
        </span>
        <span *ngIf="isTraining">
            <mat-form-field class = "grade">
                <input matInput placeholder="Grade" min="0" max="100" type="number" [formControl]="ctlGrade">
                <mat-error class="field-error" *ngIf="ctlGrade.hasError">Between 0 and 100</mat-error>
            </mat-form-field>
        </span>
        <mat-form-field class ="description">
            <textarea  matInput placeholder="Description" rows="4" [formControl]="ctlDescription" >
            </textarea>
        </mat-form-field>
        <span *ngIf="!isNew">
            <mat-form-field class ="languages">
                <mat-chip-list #langList >
                    <mat-chip *ngFor="let language of getLanguages" 
                                    [selectable]="selectable"
                                    [removable]="removable" 
                                    (removed) = "removeUsing(language, 'Languages' )">
                        {{language.skill?.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input  placeholder="Languages"
                            [matChipInputFor]="langList"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur"
                            (matChipInputTokenEnd)="addSkill($event, 'Languages')">
                </mat-chip-list>
                <mat-error class="field-error" *ngIf="langList.errorState">Already in the list</mat-error>
            </mat-form-field>
            <mat-form-field class ="databases">
                <mat-chip-list #dataList >
                    <mat-chip *ngFor="let database of getDatabases" 
                                    [selectable]="selectable"
                                    [removable]="removable" 
                                    (removed) = "removeUsing(database, 'Databases')">
                        {{database.skill?.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input  placeholder="Databases"
                                    [matChipInputFor]="dataList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="addSkill($event, 'Databases')">
                </mat-chip-list>
                <mat-error class="field-error" *ngIf="dataList.errorState">Already in the list</mat-error>
            </mat-form-field>
            <mat-form-field class="frameworks">
                <mat-chip-list #frameList >
                    <mat-chip *ngFor="let framework of getFrameworks" 
                                    [selectable]="selectable"
                                    [removable]="removable" 
                                    (removed) = "removeUsing(framework, 'Frameworks')">
                        {{framework.skill?.name}}
                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                    </mat-chip>
                    <input matInput placeholder="Frameworks"
                                    [matChipInputFor]="frameList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                    [matChipInputAddOnBlur]="addOnBlur"
                                    (matChipInputTokenEnd)="addSkill($event, 'Frameworks')">
                </mat-chip-list>
                <mat-error class="field-error" *ngIf="frameList.errorState">Already in the list</mat-error>
            </mat-form-field>
        </span>
    </div>
    <mat-error class="field-error" *ngIf="frm.errors?.dateValid">The start date must be before the finish date</mat-error>
    <div class="footer">
        <button type="submit" mat-button form="frm" [disabled]="frm.invalid" (click)="update()">{{!isNew ? 'Update' : 'Add'}}</button>
        <button type="reset" mat-button (click)="cancel()">Cancel</button>
    </div>
</form>
<!--
[disabled]="frm.pristine || frm.invalid || frm.pending"
-->