<div *ngIf="connectedUser">
<div (click)="onEditMode()">  
  
 <h1 class="text-center font-weight-bold " style='font-size: 30px; font-family:Helvetica'> {{connectedUser.firstname}}      {{connectedUser.lastname}} </h1>
  <div *ngIf="isEditable" style="text-align: right;"> 
    <button mat-icon-button class="ml-3">
     <mat-icon (click)="edit(connectedUser)">edit</mat-icon>
   </button>

 </div>

<h2 class="text-center">{{connectedUser.title}}</h2>
<h2 class="text-center">{{connectedUser.email}}</h2>
<h2 class="text-center">{{connectedUser.birthDate?.format('DD/MM/YYYY')}}</h2>

 </div>
</div>



