<div *ngIf="masterings.length > 0">
<div *ngFor="let mastering of masterings">
  
   <app-edit-competence-mat [mastering] = "mastering" (newRefreshEvent)="refresh($event)"></app-edit-competence-mat>

</div>
</div>
<form id="frm" class="form" [formGroup]="frm" novalidate>
       
    <app-add-mastering [connectedUser]="currentUser"></app-add-mastering>
    <div class="footer">
       <!--- <button type="submit" mat-button form="frm"(click)="update()">update</button> -->
        <button type="reset" mat-button (click)="update()">Close</button>
    </div>
   
  <!--  [disabled]="frm.pristine || frm.invalid || frm.pending" -->

</form> 

