<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-custom-2">
        <div class="container">
            <a class="navbar-brand text-white" [routerLink]="['/']">SUPERNOVA </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end" [ngClass]="{ show: isExpanded }">
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isManager">
                        <a class="nav-link text-white " [routerLink]="['/session2']">
                            Session 2
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]'>
                        <a class="nav-link text-white " [routerLink]="['/']">
                            <span class="material-icons">home</span> Home
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isManager">
                        <a class="nav-link text-white" [routerLink]="['/skill-list']">
                            <span class="material-icons">construction</span> Skills
                        </a>
                    </li>

                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isManager">
                        <a class="nav-link text-white" [routerLink]="['/enterprise-list']">
                            <span class="material-icons">business</span> Enterprises
                        </a>
                    </li>

                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="isManager">
                        <a class="nav-link text-white" [routerLink]="['/team']">
                            <span class="material-icons">groups</span> Team
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="currentUser">
                        <a class="nav-link text-white" [routerLink]="['/CV']">
                            <span class="material-icons">description</span> CV
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!currentUser">
                        <a class="nav-link text-white" [routerLink]='["/login"]'>
                            <span class="material-icons">exit_to_app</span> Login

                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="!currentUser">
                        <a class="nav-link text-white" [routerLink]="['/signup']">
                            <span class="material-icons">person_add_alt</span> Signup
                        </a>
                    </li>

                    <li class="nav-item" [routerLinkActive]='["link-active"]' *ngIf="currentUser">

                        <a class="nav-link text-white" [routerLink]='' (click)='logout()'>
                            <span class="material-icons">power_settings_new</span> Logout
                        </a>

                    </li>

                </ul>
            </div>
        </div>
    </nav>
</header>