<form id="frm" class="form" [formGroup]="frm" novalidate>
    <h1 class="header">{{(!isNew ? 'Edit descriptive data' : 'Add a new') }}</h1>
    <div class="form">
        <mat-form-field>
            <input matInput placeholder="Email" [formControl]="ctlEmail" >
           <!--<mat-error class="field-error" *ngIf="ctlEmail.hasError('required')">Required</mat-error>
            <mat-error class="field-error" *ngIf="ctlEmail.hasError('minlength')">Minimum length is {{ctlEmail.errors?.minlength?.requiredLength}}</mat-error>
            <mat-error class="field-error" *ngIf="ctlEmail.hasError('emailUsed')">Email already in use</mat-error> -->
        </mat-form-field>
    
        <mat-form-field>
            <input matInput placeholder="First Name" [formControl]="ctlFirstname">
            <!--<mat-error class="field-error" *ngIf="ctlFirstname.hasError('minlength')">Minimum length is {{ctlFirstname.errors?.minlength?.requiredLength}}</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" [formControl]="ctlLastname">
           <!-- <mat-error class="field-error" *ngIf="ctlLastname.hasError('minlength')">Minimum length is {{ctlLastname.errors?.minlength?.requiredLength}}</mat-error> -->
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Title" [formControl]="ctlTitle">
           <!-- <mat-error class="field-error" *ngIf="ctlLastname.hasError('minlength')">Minimum length is {{ctlLastname.errors?.minlength?.requiredLength}}</mat-error> -->
        </mat-form-field>

     
     
    </div>
  
    <div class="footer">
        <button type="submit" mat-button form="frm" [disabled]="frm.pristine || frm.invalid || frm.pending" (click)="update()">{{!isNew ? 'Update' : 'Add'}}</button>
        <button type="reset" mat-button (click)="cancel()">Cancel</button>
    </div>

</form> 