

<H1 class = "font-weight-bold mt-sm-2" style='font-size: 30px; font-family:Segoe UI'>TRAININGS</H1>
<div *ngIf = "trainings.length > 0" >
   <div *ngFor="let training of trainings">
    
      <p> {{ training.start?.format('DD/MM/YYYY')}}   :    {{ training.finish?.format('DD/MM/YYYY')}}    <span class="font-weight-bold ml-3"> {{ training.title}} </span></p>

      <p style="font-style: italic;"> {{ training.description }}   </p>
    
  </div> 
</div>

<H1 class = "font-weight-bold mt-sm-2" style='font-size: 30px; font-family:Segoe UI'>MISSIONS</H1>

<div *ngIf = "missions.length > 0" >
  <div *ngFor="let mission of missions">
    
      <p> {{ mission.start?.format('DD/MM/YYYY')}}   :    {{ mission.finish?.format('DD/MM/YYYY')}}    <span class="font-weight-bold ml-3"> {{ mission.title}} </span></p>

      <p style="font-style: italic;"> {{ mission.description }}   </p>
    
  </div>
</div>



