
<h1 class = "font-weight-bold mt-sm-2" (click)="onAddTraining()">
    TRAININGS
    <span *ngIf="isAddableTraining">
      <button mat-icon-button>
        <mat-icon (click)="addTraining()">add</mat-icon>
    </button>
    </span>
</h1>
<div *ngIf = "trainings.length > 0" >
   <div *ngFor="let training of trainings"  (click)="onEditTraining()">
      <p> {{ training.start?.format('DD/MM/YYYY')}} <span *ngIf="training.finish?.isValid()">  :  {{ training.finish?.format('DD/MM/YYYY')}} </span>  : <span class="font-weight-bold ml-3">  {{ training.enterprise?.name }} - {{ training.title}} </span>
        <span *ngIf="isEditableTraining"> 
          <button mat-icon-button class="ml-3">
              <mat-icon (click)="editTraining(training)">edit</mat-icon>
          </button>
          <button mat-icon-button>
              <mat-icon (click)="deleteExperience(training)">delete</mat-icon>
          </button>
        </span>
      </p>
      <p style="font-style: italic;"> {{ training.description }}   </p>
      <p>   final note {{training.grade }}  % </p>
      <app-usinglist [IdExperience] = "training"></app-usinglist>
  </div> 
</div>
<h1 class = "font-weight-bold mt-sm-2"  (click)="onAddMission()">
  MISSIONS
  <span *ngIf="isAddableMission">
    <button mat-icon-button>
      <mat-icon (click)="addMission()">add</mat-icon>
  </button>
  </span>
</h1>
<div *ngIf = "missions.length > 0" >
  <div *ngFor="let mission of missions"  (click)="onEditMission()">    
      <p> {{ mission.start?.format('DD/MM/YYYY')}}  <span *ngIf="mission.finish?.isValid()">  :  {{ mission.finish?.format('DD/MM/YYYY')}} </span>    <span class="font-weight-bold ml-3">  {{ mission.enterpriseToString }} - {{ mission.title}} </span>
        <span *ngIf="isEditableMission"> 
          <button mat-icon-button class="ml-3">
              <mat-icon (click)="editTraining(mission)">edit</mat-icon>
          </button>
          <button mat-icon-button>
              <mat-icon (click)="deleteExperience(mission)">delete</mat-icon>
          </button>
        </span>
      </p>
      <p style="font-style: italic;"> {{ mission.description }}  </p>
      <app-usinglist [IdExperience] = "mission"></app-usinglist>
  </div>
</div>



