

<h1>Welcome to Supernova consulting</h1>
<h4>We are a software development companie were our consultants and managers are stars ready to shine and show to the universe how bright they are </h4>
<h3>In this single page application you can manage your resume and ...</h3>
<ul>
    <li>update your firstname, lastname, email and more</li>
    <li>manage the skills you master</li>
    <li>manage your professional "experiences" and the links with the companies concerned (employer and/or customer)</li>
    <li>manage the skills you have used in an experiment.</li>
    <li>view a finished, printable version of your resume</li>
</ul>
<h3>If you are a manager you can do all the aboves + ...</h3>
<ul>
    <li>carry out CRUDL operations on skills</li>
    <li>carry out CRUDL operations on companies</li>
    <li>carry out RDL operations on all your consultants and consultants who do not have a manager</li>
    <li>manage his team either by integrating a consultant who does not yet have a manager, or by removing his link with the consultant</li>
    <li>can view the finished, printable version of his team members' resumes</li>
</ul>


