<form [formGroup]="signupForm"  (ngSubmit)="onSubmit()">
    <h1>Sign Up</h1>
    <mat-form-field>
        <input matInput placeholder="Last Name" [formControl]="ctlLastName" required appSetFocus> 
        <mat-error class="field-error" *ngIf="ctlLastName.hasError('required')">Required</mat-error>
        <mat-error class="field-error" *ngIf="ctlLastName.hasError('pattern')">Not Whitespace</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="First Name" [formControl]="ctlFirstName" required appSetFocus>
        <mat-error class="field-error" *ngIf="ctlFirstName.hasError('required')">Required</mat-error>
        <mat-error class="field-error" *ngIf="ctlFirstName.hasError('pattern')">Not Whitespace</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Email" [formControl]="ctlEmail" required appSetFocus>
        <mat-error class="field-error" *ngIf="ctlEmail.hasError('required')">Required</mat-error>
        <mat-error class="field-error" *ngIf="ctlEmail.hasError('email')">Not an email format</mat-error> 
        <mat-error class="field-error" *ngIf="ctlEmail.hasError('emailUsed')">Email already in use</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Choose your birth date</mat-label>
        <input matInput [matDatepicker]="picker" [max]="maxDate" [formControl]="ctlBirthday" required appSetFocus>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error class="field-error" *ngIf="ctlBirthday.hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Title" [formControl]="ctlTitle" required appSetFocus>
        <mat-error class="field-error" *ngIf="ctlTitle.hasError('required')">Required</mat-error>
        <mat-error class="field-error" *ngIf="ctlTitle.hasError('pattern')">Not Whitespace</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Password" [formControl]="ctlPassword" required>
        <mat-error class="field-error" *ngIf="ctlPassword.hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput type="password" placeholder="Confirm Password" [formControl]="ctlConfirmPassword" required>
        <mat-error class="field-error" *ngIf="ctlConfirmPassword.hasError('required')">Required</mat-error>
    </mat-form-field>
    <mat-error class="field-error" *ngIf="signupForm.errors?.passwordValid">Passwords must be the same</mat-error>
    <div>
        <button [disabled]="loading" mat-stroked-button>Sign Up</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    </div>
</form>

